

python-telegram-bot[webhooks,rate-limiter]>=20.7,<22
langchain-google-genai==1.0.7
google-generativeai==0.7.2
langchain>=0.2,<0.3
yfinance>=0.2.40,<0.3
geopy
timezonefinder
tzdata
requests
httpx
python-dotenv==1.0.1
